<launch>
    <arg name="sim" default="true" doc="Cobotta is simulated"/>
    <arg name="ip_address" default="192.168.0.1" doc="Cobotta's IP address. if you dont change, it is 192.168.0.1" />

    <arg name="send_format" default="0" />
    <arg name="recv_format" default="2" />

    <arg name="bcap_slave_control_cycle_msec" default="8" />

    <arg name="bcap_slave_mode" default="514" doc="bcap slave mode. 514 is default"/>
  <remap from="cobotta_arm_controller/gains/cobotta_joint_1" to="cobotta/arm_controller/gains/joint_1" />
  <remap from="cobotta_arm_controller/gains/cobotta_joint_2" to="cobotta/arm_controller/gains/joint_2" />
  <remap from="cobotta_arm_controller/gains/cobotta_joint_3" to="cobotta/arm_controller/gains/joint_3" />
  <remap from="cobotta_arm_controller/gains/cobotta_joint_4" to="cobotta/arm_controller/gains/joint_4" />
  <remap from="cobotta_arm_controller/gains/cobotta_joint_5" to="cobotta/arm_controller/gains/joint_5" />
  <remap from="cobotta_arm_controller/gains/cobotta_joint_6" to="cobotta/arm_controller/gains/joint_6" />
    <group unless="$(arg sim)">
        <include file="$(find core)/launch/cobotta_control.launch">
        <arg name="robot_name" value="cobotta" />
        <arg name="ip_address" value="$(arg ip_address)" />
        <arg name="send_format" value="$(arg send_format)" />
        <arg name="recv_format" value="$(arg recv_format)" />
        <arg name="bcap_slave_control_cycle_msec" value="$(arg bcap_slave_control_cycle_msec)" />
        <arg name="bcap_slave_mode" default="$(arg bcap_slave_mode)" />
        </include>
  </group>

</launch>