<?xml version="1.0"?>
<launch>
  <!-- MoveIt options -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>
  <!-- Gazebo options -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="false" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
  <arg name="world_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
  <param name="robot_description" textfile="$(find core_moveit)/config/gazebo_dual_arm_robot.urdf" />
  <arg name="tmp_marker" default="true"  doc="use tentatively marker" />
  <arg name="use_k3hand" default="true" doc="use k3hand" />
  <!-- Launch Gazebo and spawn the robot -->
<!--   <include file="$(dirname)/gazebo.launch" pass_all_args="true"/>
 -->
  <node name="$(anon tf_manager)" pkg="core_moveit" type="tf_manager.py" output="screen" >
    <param name="tf_data" textfile="$(find core_moveit)/yaml/tf_data.yaml" />
  </node>
  <!-- Launch MoveIt -->
  <node name="merge_two_joint" pkg="core_moveit" type="merge_joint_states.py" />
  <include file="$(find jsk_mycobot_startup)/launch/mycobot_bringup.launch">
    <arg name="moveit" value="true"/>
  </include>
  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <!-- robot_description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>
  <include file="$(find core_moveit)/launch/cobot_control.launch" >
    <arg name="robot_name" value="cobotta" />
    <arg name="ip_address" value="192.168.0.1" />
    <arg name="send_format" value="0" />
    <arg name="recv_format" value="2" />
  </include>
  <group if="$(arg tmp_marker)">
    <include file="$(find estimation)/launch/tentative_markers.launch" />
    <include file="$(find estimation)/launch/solid_markers.launch" />
  </group>
  <group unless="$(arg tmp_marker)" >
    <include file="$(find estimation)/launch/estimation.launch" />
  </group>
  <group if="$(arg use_k3hand)">
    <include file="$(find bcap_service)/launch/bcap_service.launch" />
  </group>
</launch>
