<launch>
    <node name="mycobot_pro_control" pkg="myrobot" type="mycobot_pro_control" output="screen"
        respawn="false" />

    <!-- HW Interface -->
    <node name="hardware_interface" pkg="myrobot" type="mycobot_pro_hw.py"
        output="screen">
        <param name="mycobot_port" value="/dev/usb-mycobot-pro" />
    </node>
</launch>