<launch>

  <arg name="gui" default="true" />

  <arg name="INPUT_CLOUD" value="/livox/lidar" />
  <arg name="manager" value="octree_voxel_manager" />
  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager" />

  <node name="octree_voxel_grid" pkg="nodelet"
        type="nodelet" args="load jsk_pcl/OctreeVoxelGrid $(arg manager)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <rosparam>
      resolution: 0.005
    </rosparam>
  </node>

  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <rosparam>
      initial_pos: [0.0, -0.05, 0.5]
      initial_rot: [0, 0, 0.05]
      dimension_x: 1.0
      dimension_y: 1.0
      dimension_z: 1.0
      frame_id: livox_frame
    </rosparam>
  </node>

  <node name="extract_indices"
        pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
  </node>

</launch>
